
$backgroundMain: rgb(0, 0, 0);
$primary-color:rgb(255, 187, 0);
$secondary-color: (#ffffff);
$third-color:rgb(42, 248, 255);
$card-title: rgb(0, 0, 0);
$card-text: grey;


$colorUno: rgb(12, 32, 97);
$colorDos:#022944;
$colorTres: rgb(16, 33, 82);
$colorCuatro: #000000;

$colorUno: rgb(2, 2, 2);
$colorDos: black;
$colorTres: #020407;
$colorCuatro: #000000;